.web-frame-page-2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-aliceblue);
  width: 1920px;
  height: 943px;
}
.experiment-with-the {
  margin: 0;
  letter-spacing: 0.02em;
}
.select-an-example {
  letter-spacing: 0.02em;
}
.select-an-example-modify-it-a {
  margin: 0;
}
.experiment-with-the-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 32px;
  display: inline-block;
  width: 1638px;
}
.advertiser-text-page-2,
.advertiser-text-page-2-inner,
.try-qua {
  position: absolute;
  top: 0;
  left: 0;
  width: 1638px;
  height: 96px;
}
.advertiser-text-page-2,
.try-qua {
  top: 218px;
  left: 143px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.try-qua {
  top: 120px;
  left: 291.5px;
  font-size: var(--font-size-41xl);
  line-height: 75px;
  font-weight: 500;
  color: var(--color-gray-300);
  display: inline-block;
  width: 1341px;
  height: 72px;
}
.compiler-canvas-page-2-icon,
.program-editor-canvas-page-2-icon {
  position: absolute;
  top: 333px;
  left: 419px;
  width: 733px;
  height: 398px;
  object-fit: cover;
}
.compiler-canvas-page-2-icon {
  left: 1168.08px;
  width: 610.92px;
}
.group-child,
.run-button-page-2-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 66px;
  height: 66px;
}
.group-child {
  background-color: var(--color-cornflowerblue);
  width: 52px;
  height: 52px;
}
.run {
  position: absolute;
  top: 15px;
  left: 4px;
  line-height: 25px;
  text-transform: capitalize;
  display: inline-block;
  width: 35px;
  height: 21px;
}
.ellipse-parent,
.path-73349-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
}
.path-73349-icon {
  top: 23.2px;
  left: 39.34px;
  width: 5.85px;
  height: 9.59px;
  object-fit: cover;
}
.group-parent {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 52px;
  height: 52px;
}
.run-button-page-2 {
  position: absolute;
  top: 504px;
  left: 1127px;
  width: 66px;
  height: 66px;
  text-align: center;
  color: var(--color-white);
}
.paste {
  position: absolute;
  top: 741px;
  left: 478.01px;
  font-size: var(--font-size-mini);
  line-height: 25px;
  font-weight: 500;
  color: var(--color-cornflowerblue);
  display: inline-block;
  width: 48px;
}
.group-item,
.path-73352-icon {
  position: absolute;
  width: 9.39px;
  height: 9.39px;
}
.path-73352-icon {
  top: -0.65px;
  left: -0.65px;
  object-fit: cover;
}
.group-item {
  top: 2.05px;
  left: 2.48px;
  border-radius: 0.35px 0.35px 0.35px 0.35px;
  border: 1.3px solid var(--color-cornflowerblue);
  box-sizing: border-box;
}
.path-73352-parent,
.web-1920-2-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 11.22px;
  height: 10.79px;
}
.web-1920-2-inner {
  top: 748.24px;
  left: 461.25px;
}
.compiler-area-page-2 {
  position: absolute;
  top: 408px;
  left: 1243px;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 490px;
  height: 274px;
}
.txt1,
.your-code {
  position: absolute;
  width: 617px;
}
.your-code {
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 32px;
  display: inline-block;
}
.txt1 {
  top: 340.5px;
  left: 435.96px;
  height: 32px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.scroll-path-compiler-p-2-icon,
.scroll-path-program-area-p2-icon {
  position: absolute;
  top: 392.92px;
  left: 435.96px;
  width: 4px;
  height: 321.33px;
  object-fit: cover;
}
.scroll-path-compiler-p-2-icon {
  top: 388.5px;
  left: 1204.96px;
}
.scroll-program-area-p-2,
.scrool-compiler-can-p-2 {
  position: absolute;
  top: 418.54px;
  left: 435.96px;
  border-radius: var(--br-21xl);
  background-color: var(--color-cornflowerblue);
  width: 4px;
  height: 62px;
}
.scrool-compiler-can-p-2 {
  top: 414.12px;
  left: 1204.96px;
}
.your-code-page-2-icon {
  position: absolute;
  top: 636px;
  left: 141px;
  width: 112.45px;
  height: 35px;
  object-fit: cover;
}
.paste-your-code {
  position: absolute;
  top: 388px;
  left: 473px;
  font-size: var(--font-size-mini);
  line-height: 25px;
  font-family: var(--font-roboto-mono);
  color: #d1d1d1;
}
.compile-results-page-2 {
  position: absolute;
  top: 340.5px;
  left: 1194.08px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 32px;
  color: var(--color-darkslategray);
  display: inline-block;
  width: 192.13px;
}
.span {
  letter-spacing: 0.01em;
}
.d-ramsey-map-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 138px;
}
.d-ramsey-map-wrapper,
.program-1-page-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 30px;
}
.program-1-page-2 {
  top: 375px;
  left: 154px;
  cursor: pointer;
}
.compilation-results-can-container {
  position: absolute;
  top: 388px;
  left: 1238px;
  font-size: var(--font-size-mini);
  line-height: 25px;
  font-family: var(--font-roboto-mono);
  color: var(--color-lightgray-100);
}
.copy {
  position: absolute;
  top: 0;
  left: 16.76px;
  line-height: 25px;
  font-weight: 500;
  display: inline-block;
  width: 42px;
}
.copy-page-2,
.copy-page-2-inner {
  position: absolute;
  top: 7.24px;
  left: 0;
  width: 11.22px;
  height: 10.79px;
}
.copy-page-2 {
  top: 16408.97px;
  left: 13183.67px;
  width: 58.76px;
  height: 25px;
}
.zoom {
  position: absolute;
  top: 0;
  left: 15.79px;
  line-height: 25px;
  font-weight: 500;
  display: inline-block;
  width: 46px;
}
.zoom-page-2-child {
  position: absolute;
  top: 5.78px;
  left: -0.65px;
  width: 12.13px;
  height: 11.48px;
  object-fit: cover;
}
.zoom-page-2 {
  position: absolute;
  top: 16408.97px;
  left: 13102.66px;
  width: 61.79px;
  height: 25px;
}
.share {
  position: absolute;
  top: 0;
  left: 15.03px;
  line-height: 25px;
  font-weight: 500;
  display: inline-block;
  width: 48px;
}
.share-page-2-child {
  position: absolute;
  top: 4.66px;
  left: -0.65px;
  width: 11.62px;
  height: 15px;
  object-fit: cover;
}
.move,
.share-page-2 {
  position: absolute;
  top: 16408.97px;
}
.share-page-2 {
  left: 13260.4px;
  width: 63.03px;
  height: 25px;
}
.move {
  left: 13021.17px;
  line-height: 25px;
  font-weight: 500;
  display: inline-block;
  width: 43px;
}
.union-5-icon,
.union-6-icon {
  position: absolute;
  top: 16415.82px;
  left: 13000.52px;
  width: 13.36px;
  height: 11.77px;
  object-fit: cover;
}
.union-6-icon {
  top: -15657.5px;
  left: -11784.16px;
  width: 12.06px;
  height: 10.47px;
}
.copy-page-2-parent,
.move-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 13064.17px;
  height: 16433.97px;
}
.copy-page-2-parent {
  top: -15667.97px;
  left: -11796.22px;
  width: 13323.43px;
  font-size: var(--font-size-mini);
  color: var(--color-cornflowerblue);
}
.q-randomized-benchmarking-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 27px;
  display: inline-block;
  width: 152.7px;
}
.program-3-page-2,
.program-3-page-2-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 152.7px;
  height: 54px;
}
.program-3-page-2 {
  top: 471px;
  left: 154px;
}
.your-code1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 188px;
}
.your-code-page-2,
.your-code-page-2-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 188px;
  height: 30px;
}
.your-code-page-2 {
  top: 638px;
  left: 154px;
}
.experiment-2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 107.76px;
}
.experiment-2-wrapper,
.program-4-page-4,
.program-5-page-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 107.76px;
  height: 30px;
}
.program-4-page-4,
.program-5-page-2 {
  top: 544px;
  left: 154px;
}
.program-5-page-2 {
  top: 591px;
}
.rt-frequency-tracking-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 233px;
}
.program-2-page-2,
.rt-frequency-tracking-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 233px;
  height: 30px;
}
.program-2-page-2 {
  top: 422px;
  left: 154px;
}
.web-1920-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 943px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
