.web-frame-page-3 {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: var(--color-aliceblue);
  width: 1920px;
  height: 943px;
}
.experiment-with-the1 {
  margin: 0;
  letter-spacing: 0.02em;
}
.select-an-example1 {
  letter-spacing: 0.02em;
}
.experiment-with-the-container1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 32px;
  display: inline-block;
  width: 1638px;
}
.advertiser-text-page-3,
.advertiser-text-page-3-inner,
.try-qua2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1638px;
  height: 96px;
}
.advertiser-text-page-3,
.try-qua2 {
  top: 217px;
  left: 143px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.try-qua2 {
  top: 120px;
  left: 291.5px;
  font-size: var(--font-size-41xl);
  line-height: 75px;
  font-weight: 500;
  color: var(--color-gray-300);
  display: inline-block;
  width: 1341px;
  height: 72px;
}
.compiler-canvas-page-3-icon,
.program-area-page-3-icon {
  position: absolute;
  top: 333px;
  left: 419px;
  width: 733px;
  height: 398px;
  object-fit: cover;
}
.compiler-canvas-page-3-icon {
  left: 1168.08px;
  width: 610.92px;
}
.ellipse-div,
.run-button-page-3-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 66px;
  height: 66px;
}
.ellipse-div {
  background-color: var(--color-cornflowerblue);
  width: 52px;
  height: 52px;
}
.run1 {
  position: absolute;
  top: 15px;
  left: 4px;
  line-height: 25px;
  text-transform: capitalize;
  display: inline-block;
  width: 35px;
  height: 21px;
}
.ellipse-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
}
.path-73349-icon1 {
  position: absolute;
  top: 23.2px;
  left: 39.34px;
  width: 5.85px;
  height: 9.59px;
  object-fit: cover;
}
.group-container {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 52px;
  height: 52px;
}
.run-button-page-3 {
  position: absolute;
  top: 504px;
  left: 1127px;
  width: 66px;
  height: 66px;
  text-align: center;
  color: var(--color-white);
}
.span2 {
  letter-spacing: 0.01em;
}
.q-randomized-benchmarking-container1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 27px;
  display: inline-block;
  width: 152.7px;
}
.program-3-page-3,
.program-3-page-3-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 152.7px;
  height: 54px;
}
.program-3-page-3 {
  top: 471px;
  left: 154px;
}
.your-code2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 188px;
}
.your-code-page-3,
.your-code-page-3-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 188px;
  height: 30px;
}
.your-code-page-3 {
  top: 638px;
  left: 154px;
  cursor: pointer;
}
.experiment-22 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 107.76px;
}
.experiment-2-frame,
.program-4-page-3,
.program-5-page-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 107.76px;
  height: 30px;
}
.program-4-page-3,
.program-5-page-3 {
  top: 544px;
  left: 154px;
}
.program-5-page-3 {
  top: 591px;
}
.web-1920-3-child {
  position: absolute;
  top: 408px;
  left: 1243px;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 490px;
  height: 274px;
}
.scroll-path-compiler-page-3-icon,
.scroll-path-program-page-3-icon {
  position: absolute;
  top: 392.92px;
  left: 435.96px;
  width: 4px;
  height: 321.33px;
  object-fit: cover;
}
.scroll-path-compiler-page-3-icon {
  top: 388.5px;
  left: 1204.96px;
}
.scroll-compiler-page-3,
.scroll-program-page-3 {
  position: absolute;
  top: 418.54px;
  left: 435.96px;
  border-radius: var(--br-21xl);
  background-color: var(--color-cornflowerblue);
  width: 4px;
  height: 62px;
}
.scroll-compiler-page-3 {
  top: 414.12px;
  left: 1204.96px;
}
.image-35-icon {
  position: absolute;
  top: 400px;
  left: 1221px;
  width: 545px;
  height: 274px;
  object-fit: cover;
}
.def {
  color: var(--color-gainsboro);
}
.span3 {
  color: var(--color-white);
}
.def-ramseyt {
  margin: 0;
}
.def-ramseyt,
.play {
  color: var(--color-darkslateblue);
}
.playpi-half-qubit,
.qubit {
  color: var(--color-mediumaquamarine);
}
.playpi-half-qubit {
  margin: 0;
}
.waitt {
  margin: 0;
}
.i {
  color: var(--color-orangered);
}
.def-ramseyt-container {
  position: absolute;
  top: 388px;
  left: 470px;
  font-size: var(--font-size-mini);
  line-height: 25px;
  font-family: var(--font-roboto-mono);
  white-space: pre-wrap;
  color: var(--color-gainsboro);
}
.d-ramsey-map,
.txt3 {
  position: absolute;
  width: 617px;
}
.d-ramsey-map {
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 32px;
  display: inline-block;
}
.txt3 {
  top: 340.5px;
  left: 435.96px;
  height: 32px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.rt-frequency-tracking-container1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 233px;
}
.program-2-page-3,
.rt-frequency-tracking-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 233px;
  height: 30px;
}
.program-2-page-3 {
  top: 422px;
  left: 154px;
}
.compiler-results {
  position: absolute;
  top: 340.5px;
  left: 1194.08px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 32px;
  color: var(--color-darkslategray);
  display: inline-block;
  width: 192.13px;
}
.d-ramsey-map-container1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
  display: inline-block;
  width: 138px;
}
.d-ramsey-map-frame,
.highlight-program-1-page-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 30px;
}
.highlight-program-1-page-3 {
  top: 375px;
  left: 154px;
}
.program-1-page-3-icon {
  position: absolute;
  top: 373px;
  left: 136.65px;
  width: 170.71px;
  height: 35px;
  object-fit: cover;
}
.copy1 {
  position: absolute;
  top: 0;
  left: 16.76px;
  line-height: 25px;
  font-weight: 500;
  display: inline-block;
  width: 42px;
}
.path-73352-icon2,
.rectangle-div {
  position: absolute;
  width: 9.39px;
  height: 9.39px;
}
.path-73352-icon2 {
  top: -0.65px;
  left: -0.65px;
  object-fit: cover;
}
.rectangle-div {
  top: 2.05px;
  left: 2.48px;
  border-radius: 0.35px 0.35px 0.35px 0.35px;
  border: 1.3px solid var(--color-cornflowerblue);
  box-sizing: border-box;
}
.copy-parent,
.group-wrapper,
.path-73352-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 11.22px;
  height: 10.79px;
}
.copy-parent,
.group-wrapper {
  top: 7.24px;
}
.copy-parent {
  top: 16408.97px;
  left: 13183.67px;
  width: 58.76px;
  height: 25px;
}
.zoom1 {
  position: absolute;
  top: 0;
  left: 15.79px;
  line-height: 25px;
  font-weight: 500;
  display: inline-block;
  width: 46px;
}
.group-icon {
  position: absolute;
  top: 5.78px;
  left: -0.65px;
  width: 12.13px;
  height: 11.48px;
  object-fit: cover;
}
.zoom-parent {
  position: absolute;
  top: 16408.97px;
  left: 13102.66px;
  width: 61.79px;
  height: 25px;
}
.share1 {
  position: absolute;
  top: 0;
  left: 15.03px;
  line-height: 25px;
  font-weight: 500;
  display: inline-block;
  width: 48px;
}
.group-child1 {
  position: absolute;
  top: 4.66px;
  left: -0.65px;
  width: 11.62px;
  height: 15px;
  object-fit: cover;
}
.move1,
.share-parent {
  position: absolute;
  top: 16408.97px;
}
.share-parent {
  left: 13260.4px;
  width: 63.03px;
  height: 25px;
}
.move1 {
  left: 13021.17px;
  line-height: 25px;
  font-weight: 500;
  display: inline-block;
  width: 43px;
}
.union-5-icon1,
.union-6-icon1 {
  position: absolute;
  top: 16415.82px;
  left: 13000.52px;
  width: 13.36px;
  height: 11.77px;
  object-fit: cover;
}
.union-6-icon1 {
  top: -15657.5px;
  left: -11784.16px;
  width: 12.06px;
  height: 10.47px;
}
.group-parent1,
.move-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 13064.17px;
  height: 16433.97px;
}
.group-parent1 {
  top: -15667.97px;
  left: -11796.22px;
  width: 13323.43px;
  font-size: var(--font-size-mini);
  color: var(--color-cornflowerblue);
}
.web-1920-3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 943px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
